/* Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Universal selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* Header Section*/
/* Navbar related style*/

.navbar{
    max-width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
}

.navbar-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px; 
}
.navbar-list{
    display:flex ;  
}

.list-item{
    margin-right: 30px;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}

/* Banner related style*/

.banner{
    max-width: 80%;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    gap:70px;
}

.banner-content{
    max-width: 582px;
}

.banner-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
}

.banner-description{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 16px;
}

.banner-btn{
    padding: 10px 24px 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 16px;
}

.banner-btn-icon{
    margin-left: 5px;  
}

/* Sponsors section style */

.sponsors{
    max-width: 80%;
    margin: 70px auto 0;
    display: flex;
    justify-content: space-evenly;
}




/* Card section style */

.card{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.card-title{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    margin-top: 100px;
    
}
.card-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 30px;
    justify-content: space-around;

}

.cards{
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.cards-title{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    margin-top: 15px;
    
}

.cards-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 10px;
   
}
.cards-rating{
    color: rgb(94, 99, 102);
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin-left: 10px;
    
}

.cards-description{
    max-width: 196px;
    color: rgb(120, 120, 133);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 1.8%;
   
}
.checked,.fa{
    color: orange;

}

.card-link{
  
    width:100px;
    position: absolute;
    right: -40px;
    bottom: -50px;
}
.card-link  a{
     text-decoration: none;
     color: rgba(224, 44, 109, 0.87);
     font-family: Poppins;
     font-size: 1rem;
     font-weight: 700;
     line-height: 24px;
     letter-spacing: 0px;
    
     
}

.fa-arrow-right{
    margin-left: 5px;
}

/* Feature Products section style */
.feature-products{
    display: flex;
    max-width: 80%;
    margin: 100px auto 0;
    align-items: center;
    gap:80px;
}
.feature-products-img{
    width:100%;
    
}


.feature-products-content{
    max-width: 650px;
}
.feature-products-title{
    color: rgb(10, 8, 38);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    
}
.feature-products-decription{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 16px;
    
}

.feature-products-btn{
    padding: 10px 24px 10px 24px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    border: none;
    margin-top: 16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(7, 7, 71);
    height:200px;
    margin-top: 100px;
}

.footer-wrap{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.footer-title{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
   
}

.footer-description{
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 5px;
    
}

.footer-icon{
    color:white;
     display: flex;
    gap:15px;
    justify-content: center;
    margin-top: 10px;

}


/* Responsive Media Query */

/* media query for small devices*/
@media screen and (max-width:576px){
    .navbar,.navbar-list{
        flex-direction: column;
        text-align: center;
    }
    .navbar-list{
        margin-top: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }
    .sponsors{
       flex-flow: row wrap;
       justify-content: space-around;
       column-gap: 10px;
       row-gap: 20px;
       flex: 1;
      
    }
    
    .flex-basis{
        flex-basis: 10%;
    }
    .card-content{
        
        grid-template-columns: repeat(1,1fr);
       
    
    }
    .cards img{
        width: 100%;
    }
    .card-link{
        
        width:100px;
        position: absolute;
        right: 0px;
        bottom: -50px;
    }
    .feature-products{
       flex-direction: column-reverse;
    }
    .feature-products-content{
       text-align: center;
    }
    
}

/* media query for medium devices*/
@media screen and (min-width:576px) and (max-width:992px){
    .navbar,.navbar-list{
        flex-direction: column;
        text-align: center;
    }
    .navbar-list{
        margin-top: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }
    .card-content{
        
        grid-template-columns: repeat(2,1fr);
       
    
    }
    .sponsors{
        flex-flow: row wrap;
        justify-content: space-evenly;
        column-gap: 25px;
        row-gap: 20px;
       
     }
     
     .flex-basis{
         flex-basis: 20%;
     }
    .cards img{
        width: 100%;
    }
    .card-link{
        
        width:100px;
        position: absolute;
        right: 0px;
        bottom: -50px;
    }
    .feature-products{
        flex-direction: column-reverse;
     }
     .feature-products-content{
        text-align: center;
     }
}

/* media query for larger devices*/
@media screen and (min-width:992px) and (max-width:1200px){
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-img{
        width: 100%;
    }
    .card-content{
        
        grid-template-columns: repeat(3,1fr);
       
    
    }
   
    .cards img{
        width: 100%;
    }
    .card-link{
        
        width:100px;
        position: absolute;
        right: 0px;
        bottom: -50px;
    }
   
}